<!-- <div id="page_wrapper">
<img src="assets/me.jpg" height="281" width="500">

<p>This blog was started as a personal motivation to go explore, discover and share interesting and fun locations to skate. I try to skate everyday and want to session as many different places as possible. Even though I haven’t been skating for very long, it has quickly become one of the most important obsessions in my life, to which I dedicate a great deal of time, energy and suffering. One of my main ambitions in life is to be in a position where I can put more of my time and effort into my skating, and so I started this blog as a personal obligation to push myself to skate more and more everyday.</p>
<br>
<p></p>
<br>
<p id="contact"><%= link_to "Contact", new_contact_path %></p>
</div> -->