<div id="page_wrapper">

  <div id="about_logo">
    <img src="assets/logo-1.jpg">
</div>

<h1 class="about_title">Fucking Little Idiots</h1>

<p id="about_p"> 
  This blog was started from a personal desire to go explore, discover and share interesting and fun locations to skate. I try to skate everyday and want to session as many different places as possible. Even though I haven’t been skating for very long, it has quickly become one of the most important obsessions in my life, to which I dedicate a great deal of time, energy and suffering. Putting myself in a position where I can spend more of my time skating is hard, so I started this blog as a personal motivation to give myself a reason to skate and explore more and more everyday. 
</p>
<p id="about_p">The purpose of f.l.i. is to document as many skate spots and skate parks as possible in the North West of England and to share informative reviews, clear pictures and gps locations to help other people find new places to skate and have a sick session.</p>
<br>
<p><img src="assets/me.jpg" height="281" width="500"></p>
<br>
<p id="about_p">Let me know if you like my blog and find it useful. If you have any questions or suggestions for places you think I should visit, feel free to <%= link_to "contact ", new_contact_path %> me.</p>

<p id="about_p">Thanks for reading, Frazer.</p>
</div>