<div id="page_wrapper">

  <div id="about_logo">
    <img src="assets/logo-1.jpg">
</div>

<h1 class="about_title">Fucking Little Idiots</h1>

<p id="about_p">This blog was started as a personal motivation to make me go explore, discover and share interesting and fun locations to skate. I try to skate everyday and want to session as many different places as possible. Even though I haven’t been skating for very long, it has quickly become one of the most important obsessions in my life, to which I dedicate a great deal of time, energy and suffering. Trying to put myself in a position where I can put more of my time and effort into my skating is hard, so I started this blog as a personal obligation to push myself to skate more and more everyday.
</p>
<br>
<p><img src="assets/me.jpg" height="281" width="500"></p>
<br>
<p id="about_p">I hope you like my blog and find it useful.</p>
<br>
<p id="about_p">If you have any questions or suggestions for places you think I should visit, feel free to <%= link_to "contact ", new_contact_path %> me.</p>

</div>