/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 
 */



*:focus {
outline: 0;
}

body {
  padding-top: 150px;
  font-size:100%;
  font-family: 'Raleway', sans-serif;
}

@media screen and (max-width:720px) {
  body {
  padding-top: 0px;
  font-size:100%;
  font-family: 'Raleway', sans-serif;
}
}


.container-fluid-header {
  background-image: url('/assets/nav.png');
  height: 200px;
  padding-top: 35px;
  padding-left: 5px;
  position:fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  transition: 0.2s;
}

.header_logo {
  transition: 0.3s;
}

@media screen and (max-width:720px) {
  .header_logo {
   display: none;
}
}

@media screen and (max-width:720px) {
  .container-fluid-header{
    background-color: black;
  height: 50px;
  padding-top: 5px;
  padding-left: 5px;
  position:fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  }
}

.pan_img {
    padding-top: 2em;
       max-width: 100%;
    height: auto;
}

@media screen and (max-width:340px) {
  .pan_img {
    padding-top: 2em;
       max-width: 100%;
    height: auto;
}
}

.topnav {
  position: fixed;
  width: 100%;
  height: x;
  border-bottom: 1px solid #ffab0c;
  border-top: 1px solid #ffab0c;
  z-index: 999;
}


ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  border-bottom: 1px solid #ffab0c;
  border-top: 1px solid #ffab0c;

}

ul.topnav li {float: left;}

ul.topnav li a {
  display: inline-block;
  color: #f2f2f2;
  border: 2px;
  border-color: gold;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
}

ul.topnav li a:hover {color: #ffab0c;}

ul.topnav li.icon {display: none;}

@media screen and (max-width:720px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
    
  }
}

@media screen and (max-width:720px) {
  ul.topnav.responsive {position: fixed;}
  ul.topnav.responsive li.icon {
    position: fixed;
    right: 0;
    top: 0;
    
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}






a.navbar-brand {
  color:gold;
}




p.alert {
  background-color: black;
  margin: 0 0 0px;
}

p.notice {
  background-color: black;
  margin: 0 0 0px;
}




#navbar {
  position:fixed;
  background: black;
  border: 2px gold;
}

div#navbar.navbar-collapse.collapse.in {
  background: #333;
  position: fixed;
}

div.container {
  width:100%;
  background: black;
  color: black;
  padding-right:1px;
  padding-left: 1px;
}


button.navbar-toggle.collapsed {
  border-color: gold;
  
}


  
  .active {
    border: 2px gold;
    img {
      display: none;
    }
  }

  @media screen and (max-width:720px) {
    .active {
    img {
      padding-top: 4px;
      padding-left: 4px;
      display:inline;
        max-width: 100%;
    height: auto;
    }
    

  }
  }



.post_wrapper {
    position: relative;
    padding: 5em 5em;
    border-bottom: 1px solid #d6dce0;
    .title {
      margin: 0;
      a {
        font-weight: 500;
        text-decoration: none;
        color: #2a2f35;
        font-size: 1.5em;
        &:hover {
          color: #33acb7;
        }
      }
        img {

    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}
    }
    .date_and_author {
      color: #9eafba;
      margin: .5em 0 0 0;
    }
  }
  #post_content {
    padding: 5em 3em;
    .title {
      font-weight: 500;
      text-decoration: none;
      color: #2a2f35;
      font-size: 2.5em;
      margin-bottom: 0;
    }
    .body {
      font-size: 1.1em;
      line-height: 1.75;
    }
    .date_and_author {
      color: #9eafba;
      margin: .5em 0 2em 0;
    }
  }

  @media screen and (max-width:340px) {
    .post_wrapper {
    position: relative;
    padding: 5em 1em;
    border-bottom: 1px solid #d6dce0;
    .title {
      margin: 0;
      a {
        font-weight: 300;
        text-decoration: none;
        color: #2a2f35;
        font-size: 1.5em;
        &:hover {
          color: #33acb7;
        }
      }
        img {
          padding-top: 2em;
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}
    }
    .date_and_author {
      color: #9eafba;
      margin: .5em 0 0 0;
    }
  }
  #post_content {
    padding: 5em 3em;
    .title {
      font-weight: 500;
      text-decoration: none;
      color: #2a2f35;
      font-size: 2.5em;
      margin-bottom: 0;
    }
    .body {
      font-size: 1.1em;
      line-height: 1.75;
    }
    .date_and_author {
      color: #9eafba;
      margin: .5em 0 2em 0;
    }
  }
  }

  @media screen and (max-width:340px) {
    #post_content {
    padding: 5em 1em;
    .title {
      font-weight: 300;
      text-decoration: none;
      color: #2a2f35;
      font-size: 2.5em;
      margin-bottom: 0;
    }
    .body {
      font-size: 1.1em;
      line-height: 1.75;
    }
    .date_and_author {
      color: #9eafba;
      margin: .5em 0 2em 0;
    }
  }
  }
  
#page_wrapper {
    
    padding: 5em 3em;
    #profile_image {
      width: 300px;
      float: left;
      margin-right: 2em;
      img {
        width: 100%;
        border-radius: 0.35em;
      }
    }

    @media screen and (max-width:340px) {
      #page_wrapper {

    padding-top: 5em;
    padding: 1em 1em;
    #profile_image {
      width: 300px;
      float: left;
      margin-right: 1em;
      z-index: 999;
      img {
        width: 100%;
        border-radius: 0.35em;
      }
    }
    }
  }

    
    img {
      padding-top: 2em;
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

.about_title {
  text-align: center;
}

@media screen and (max-width:340px) {
  .about_title {
  text-align: center;
  font-weight: 200;
}
}

#about_p {
  text-align: left;
  font-size: 1em;
}


    #content {
      h1 {
        font-weight: 500;
      }
      p {
        text-align: left;
        font-size: 1.1em;
        line-height: 1.75;
      }


      a {
        color: #33acb7;
        font-weight: 700;
        text-decoration: none;
      }
    }
  }
  .links {
    margin: 2em 0;
  }
  input[type="text"], input[type="email"], input[type="password"], textarea {
    width: 90%;
    border: 1px solid #d6dce0;
    border-radius: .35em;
    margin-top: 10px;
    padding: .5em 1em;
    line-height: 1.75;
  }
  input[type="text"] {
    height: 35px;
  }
  textarea {
    min-height: 180px;
  }
  input[type="submit"] {
    outline: none;
    background: transparent;
    border: 1px solid #d6dce0;
    padding: .5em 1.5em;
    font-size: 1.1em;
    border-radius: 1.5em;
    margin-left: .5em;
    &:hover {
      border: 1px solid #33acb7;
      color: #33acb7;
    }
  }



.button {
  float: center;
  outline: none;
  background: black;
  border: 1px solid #d6dce0;
  padding: .5em 1.5em;
  margin-bottom: 1em;
  border-radius: 1.5em;
  &:hover {
    border: 1px solid #33acb7;
    color: #33acb7;
    a {
      color: #33acb7 !important;
    }
  }
}


#footer {
  text-align: center;
}

@media screen and (max-width:340px) {
  #footer {
  text-align: center;
}
}


#map {
  width: 100%;
  height: 250px;
  z-index: -1;
}

@media screen and (max-width:340px) {
  #map {
  width: 80%;
  height: 150px;
  z-index: -1;
}
}

#left_sidebar {
  width: 5%;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  background: white;
  padding: 7em 0 0 0;
  border-right: 0px solid #33acb7;
  z-index: 998;
}

@media screen and (max-width:720px) {
  #left_sidebar {
  width: 0%;
  
  z-index: 998;
}
}

#right_sidebar {
  width: 5%;
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  background: white;
  padding: 7em 0 0 0;
  border-right: 0px solid #33acb7;
  z-index: 998;
}

@media screen and (max-width:720px) {
  #right_sidebar {
  width: 0%;
  
  z-index: 998;
}
}






 